@*@model PersonelYonetim.View_Modal.PersonelFormViewModel*@
@using PersonelYonetim.View_Modal;
@model Modellerim

@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Kaydet", "Personel", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(m => m.PersonelModeli.Personel.Ad)
        @Html.TextBoxFor(m => m.PersonelModeli.Personel.Ad, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PersonelModeli.Personel.Soyad)
        @Html.TextBoxFor(m => m.PersonelModeli.Personel.Soyad, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PersonelModeli.Personel.DepertmanId)
        @Html.DropDownListFor(m => m.PersonelModeli.Personel.DepertmanId, new SelectList(Model.DepartmanModeli.Departmanlar, "Id", "Ad"), "Departman Seçiniz", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PersonelModeli.Personel.Maas)
        @Html.TextBoxFor(m => m.PersonelModeli.Personel.Maas, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PersonelModeli.Personel.DogumTarihi)
        @Html.TextBoxFor(m => m.PersonelModeli.Personel.DogumTarihi, "{0:yyyy:MM:dd}", new { @class = "form-control", type = "date" })
    </div>
    <div class="radio">
        <label>@Html.RadioButtonFor(m => m.PersonelModeli.Personel.Cinsiyet, true) Erkek</label>
        <label>@Html.RadioButtonFor(m => m.PersonelModeli.Personel.Cinsiyet, false) Kadın</label>

    </div>

    <div class="radio">
        <label>
            @Html.RadioButtonFor(m => m.PersonelModeli.Personel.Evlimi, true) Evliyse seç.
        </label>
    </div>

    @Html.HiddenFor(m => m.PersonelModeli.Personel.Id)

    <button type="submit" class="btn btn-default">Kaydet</button>



}



